<div class="form-container">
    <h1 class="center">Formulario de Registro</h1>
    <hr>
    <form [formGroup]="form" (ngSubmit)="submitForm($event)">
        <div class="input-section">
            <div>
                <label>ID</label>
                <input type="text" formControlName="id">
                <span>ID no válido</span>
                @if (form.controls['id'].hasError('required')) {
                    <span>Este campo es requerido</span>
                }
            </div>
            <div>
                <label>Nombre</label>
                <input type="text" formControlName="name">
                @if (form.controls['name'].hasError('required')) {
                    <span>Este campo es requerido</span>
                }
            </div>
            <div>
                <label>Descripción</label>
                <input type="text" formControlName="description">
                @if (form.controls['description'].hasError('required')) {
                    <span>Este campo es requerido</span>
                }
            </div>
            <div>
                <label>Logo</label>
                <input type="text" formControlName="logo">
                @if (form.controls['logo'].hasError('required')) {
                    <span>Este campo es requerido</span>
                }
            </div>
            <div>
                <label>Fecha Liberación</label>
                <input type="date" formControlName="date_release">
                @if (form.controls['date_release'].hasError('required')) {
                    <span>Este campo es requerido</span>
                }
            </div>
            <div>
                <label>Fecha Revisión</label>
                <input type="date" formControlName="date_revision">
            </div>
        </div>
        <div class="button-section">
            <button type="button" (click)="resetForm()">Reiniciar</button>
            <button type="submit" [disabled]="form.invalid">Enviar</button>
        </div>
    </form>
</div>
