/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

input.search {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid darkgrey;
}